@import './colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-lightPrimary);
  color: var(--color-primaryText);
}
* {
  font-family: IranSansRegular;
}
